* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  padding: 0;
}

nav ul {
  margin-left: 35%;
  width: 70%;
  padding: 0;
  display: inline;
}

nav ul li {
  margin-left: 1%;
  margin-right: 1%;
}

.bg-black {
  background-color: black;
}

.padding-left {
  padding-left: 10%;
}

.padding-ul {
  margin-left: 40%;
  width: 50%;
  padding-left: 10%;
}

ul {
  list-style: none;
}

.text-color {
  color: white;
}

.yellow {
  color: rgba(255, 187, 0, 0.863);
}

a {
  text-decoration: none;
}

.inline-block {
  display: inline-block;
}

.bg-img {
  background-image: url(../images/istockphoto-1331100622-612x612.jpg);
  background-size: 100% 100%;
  background-attachment: fixed;
  padding: 50px 0%;
}

.overlay {
  background-color: #000000af;
  height: 100%;
  display:flex;
  align-items: center;
  padding: 40px 0%;
  width: 100%;
  align-items: center;
  top: 0;
  left: 0;
}




.line {
  border: none;
  height: 3px;
  background: white;
  width: 7%;
  margin: 10px 0;
}

.box-style {
  border: 2px white solid;
  padding: 13px;
  font-size: 12px;
  color: #fff;
  border-radius: 2px;
  background: none;
}

.block-width {
  width: 45%;
  color: white;
}

.form-container {
  background: white;
  padding: 40px;
  border-radius: 5px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
  width: 320px;
  text-align: center;
  margin-left: 26%;
}

.form-container h3 {
  background: rgb(237, 232, 232);
  padding: 10px;
  font-size: 20px;
  margin-bottom: 10px;
}

.form-container .yellow {
  color: #ff6600;
  font-weight: 900;
}

form input {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border: 1px solid #ddd;
  border-radius: 3px;
  font-size: 14px;
}

form button {
  width: 100%;
  padding: 12px;
  margin-top: 15px;
  background: #ff6600;
  color: white;
  font-size: 15px;
  border: none;
  border-radius: 3px;

}

