
.navbar .nav-link:hover {
  color: rgb(194, 15, 15);
}
.accordion-item a:hover{
  color: rgb(194, 15, 15);
}

.icon-hover a:hover{
  color: rgb(194, 15, 15);
}

a{
  
  color:black;
   font-size: 15px;
   text-decoration: none;
}
ul{
  list-style: none;
}
.bg-color{
  background-color:rgb(163, 56, 28);
  
}
.nav-font{
  font-size: smaller;
}

.col-6 ul li a:hover{
  color: rgb(194, 15, 15);
}
#carouselExampleIndicators {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; 
}
#carouselExampleIndicators .carousel-item,
#carouselExampleIndicators .carousel-item img {
    height: 100%;
    object-fit: cover;
}
.content-overlay {
    position: relative; 
    z-index: 1; 
    
    
}
#carouselExampleIndicators .carousel-indicators button {
  width: 10px;
  height: 10px;
  border-radius: 50%;}

.black-icon{
  color: gray;
}

.col-3:hover .fa-solid.black-icon, 
.col-3:hover .fa-regular.black-icon {
  color:black; 
}
.link-hover{
  text-decoration: underline;
}
.link-hover:hover{
   text-decoration: none; 
  transition-delay: 0s;
}

#carouselExample:hover .carousel-control-prev-icon,
#carouselExample:hover .carousel-control-next-icon{
  background-color: black;
  

}

